<div class="container">
  <div class="row">
    <div class="col-md-3">

      <%= render 'books/list', newbook: @newbook,user: @user %>
    </div>


    <div class="col-md-8 offset-md-1">
      <h1>Userss</h1>
      <thead>
    		<tr>
    			<th>Image</th>
    			<th>name</th>
    		</tr>
    	</thead>

      <% @users.each do |user| %>

        <p><%= image_tag user.get_profile_image(100,100) %></p>
        <p><%= user.name %></p>
        <p><%= link_to "show",user_path(user.id)%></p>

      <% end %>

    </div>
  </div>
</div>
